<h1><%= @restaurant.name %></h1>
<p>-----------------------------</p>
  <p>Location : <%= @restaurant.address  %></p>
  <p>Phone Number : <%= @restaurant.phone_number  %></p>
  <p>Category : <%= @restaurant.category  %></p>
<p>-----------------------------</p>
<%= link_to "Back to Restaurants's list", restaurants_path  %>
<p>-----------------------------</p>
<%= link_to "Delete restaurant", restaurant_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<p>-----------------------------</p>
<%= link_to "Add a review to #{@restaurant.name}",  new_restaurant_review_path(@review.@restaurant_id)  %>
